* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: white;
}
#root, body {
  width: 100vw;
  /* height: 100vh; */
  background-image: linear-gradient(#108dc7, #ef8e38);
}
.list-group-flush .list-group-item {
  background-color: transparent;
  color: white;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
.C1 {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 20px;
}
.list-group-flush {
  --bs-list-group-border-width: none;
}
.C2 {
  margin: 0px 10px;
}
.C3-G1 {
  padding: 0px 10%;
}
.feels {
  font-size: 16px;
  width: 235px;
}
.currtemp {

  font-size: 58px;
}
.condition {
  font-size: 18px;
}
.hourly, .daily {
  margin:0% 8%;
}