* {
  margin: 0px ;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: white;
}
#root { 
  background-color: rgb(184, 39, 39)
}
.list-group-flush .list-group-item{
  background-color: transparent;
  color: white;
}
.C1 {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 20px;
}
.list-group-flush {
  --bs-list-group-border-width: none;
}
.C2{
  margin: 0px 10px;
}
.C3-G1 {
  padding: 0px 10%
}
.feels {
  font-size: 16px;
}
.currtemp {
  font-size:58px;
}
.condition {
  font-size: 18px;
}
#root {
  /* padding-top: 20px; */
  box-sizing: border-box;
}